{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", 
				"transform-runtime",
				["transform-inline-environment-variables", {
					"include": [
					"NODE_ENV"
					]
    }]],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]
    }
  }
}
